/* Memorial image container */

.memorial-figure {
    text-align: center;
}


/* Image frame */

.memorial-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 32px;
}


/* Actual photo */

.memorial-photo {
    width: 5cm;
    height: 5cm;
    object-fit: cover;
    border: 3px solid #b08d57;
    background-color: #f4f1ea;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}


/* Caption below image */

.memorial-caption {
    margin-top: 10px;
    font-size: 0.95rem;
    font-style: italic;
    color: #6b4e2e;
    text-align: center;
}


/* Mobile responsiveness */

@media (max-width: 480px) {
    .memorial-photo {
        width: 220px;
        height: 320px;
    }
}